Chapter21/WebClients/Web References/localhost1/StockQuote.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.prosetech.com/Stocks" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.prosetech.com/Stocks" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.prosetech.com/Stocks">
      <s:element name="GetStockQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ticker" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStockQuoteResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="decimal" type="s:decimal" />
    </s:schema>
  </types>
  <message name="GetStockQuoteSoapIn">
    <part name="parameters" element="s0:GetStockQuote" />
  </message>
  <message name="GetStockQuoteSoapOut">
    <part name="parameters" element="s0:GetStockQuoteResponse" />
  </message>
  <message name="GetStockQuoteHttpGetIn">
    <part name="Ticker" type="s:string" />
  </message>
  <message name="GetStockQuoteHttpGetOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetStockQuoteHttpPostIn">
    <part name="Ticker" type="s:string" />
  </message>
  <message name="GetStockQuoteHttpPostOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <portType name="StockQuoteSoap">
    <operation name="GetStockQuote">
      <documentation>Gets a price quote for a NASDAQ stock symbol.</documentation>
      <input message="s0:GetStockQuoteSoapIn" />
      <output message="s0:GetStockQuoteSoapOut" />
    </operation>
  </portType>
  <portType name="StockQuoteHttpGet">
    <operation name="GetStockQuote">
      <documentation>Gets a price quote for a NASDAQ stock symbol.</documentation>
      <input message="s0:GetStockQuoteHttpGetIn" />
      <output message="s0:GetStockQuoteHttpGetOut" />
    </operation>
  </portType>
  <portType name="StockQuoteHttpPost">
    <operation name="GetStockQuote">
      <documentation>Gets a price quote for a NASDAQ stock symbol.</documentation>
      <input message="s0:GetStockQuoteHttpPostIn" />
      <output message="s0:GetStockQuoteHttpPostOut" />
    </operation>
  </portType>
  <binding name="StockQuoteSoap" type="s0:StockQuoteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetStockQuote">
      <soap:operation soapAction="http://www.prosetech.com/Stocks/GetStockQuote" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="StockQuoteHttpGet" type="s0:StockQuoteHttpGet">
    <http:binding verb="GET" />
    <operation name="GetStockQuote">
      <http:operation location="/GetStockQuote" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="StockQuoteHttpPost" type="s0:StockQuoteHttpPost">
    <http:binding verb="POST" />
    <operation name="GetStockQuote">
      <http:operation location="/GetStockQuote" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="StockQuote">
    <documentation>Methods to get information about a NASDAQ stock.</documentation>
    <port name="StockQuoteSoap" binding="s0:StockQuoteSoap">
      <soap:address location="http://localhost/ASP.NET/Chapter20/WebServices/StockQuote.asmx" />
    </port>
    <port name="StockQuoteHttpGet" binding="s0:StockQuoteHttpGet">
      <http:address location="http://localhost/ASP.NET/Chapter20/WebServices/StockQuote.asmx" />
    </port>
    <port name="StockQuoteHttpPost" binding="s0:StockQuoteHttpPost">
      <http:address location="http://localhost/ASP.NET/Chapter20/WebServices/StockQuote.asmx" />
    </port>
  </service>
</definitions>